@charset "UTF-8";

.main-form{
		width:400px;
		height:400px;
		margin:120px 0 0 150px;
		float:left;
	
}

form input[type="text"],form input[type="tel"],form input[type="email"],form input[type="password"],form input[type="fullname"], form input[type="username"]
{
width:25%;
margin:0 0 20px 40px;
padding:10px;
background:#000;
opacity:0.7;
color:#FFF;
border:1px solid #000;
cursor:auto;
}

form textarea
{
width:85%;
height:200px;
margin:0 0 20px 40px;
padding:10px;
background:#000;
opacity:0.7;
color:#FFF;
border:1px solid #000;
cursor:auto;
}
form input[type="submit"]
{
padding:7px 10px;
border-radius:4px;
border:1px solid #000;
opacity:0.7;
color:#FFF;
margin:0 0 0 40px;
background:#000;
cursor:auto;
}
form input[type="button"]{
	width:25%;
	margin:0 0 20px 40px;
	padding:10px;
	background:#0698CD;
	color:#FFF;
	cursor:auto;
}
